/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
}


/*BODY*/
/*Alterando cor de fundo da página*/
body{
    background-color: rgb(27, 26, 26) !important;
}


/*HEADER*/
/*Geral*/
header {
    padding: 10px 20px; 
}

/*Logo*/
header .logo img{
    max-width: 20vh;
    height: auto;
    margin-right: 20px;
}

/*Navbar*/
header .logo, header #nav_topo {
    float: none;
}

ul li a{
    color: white !important;
    font-size: 15px !important;
}

ul li a:hover{
    color: #4879CA !important;
}

.pagina-atual{
    color: #EED200 !important;
    text-decoration: underline !important;
}

.cor-barra-busca{
    border: #0065EF 1px solid !important;
    color: white !important;
}

.cor-barra-busca:hover, .cor-barra-busca:active{
    background-color: #0065EF !important;
}

.dropdown-menu{
    background-color: rgb(19, 19, 19) !important;
}

.dropdown-divider{
    border-color: white !important;
}

.dropdown .btn, .dropdown .btn:hover{
    background-color: rgb(27, 26, 26);
}


/*Mudando o ícone do menu 'hamburguer'*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


/*MAIN*/
/*Ajustes nos cards de cada livro*/
.card-img-top{
    height: 250px !important;
    object-fit: cover !important;
}

#titulo h1{
    color: white !important;
    text-align: center !important;
    margin: 20px 0px 0px 0px!important;
}

#primeira-linha .container .row a{
    text-decoration: none;
    color: inherit;
}

/*FOOTER*/
.site-footer {
    background-color: rgb(27, 26, 26);
    color: white;
    padding: 20px 0;
    margin-top: 0px;
}

.site-footer .container {
    text-align: center;
}

.divider {
    height: 2px; 
    background-color: white; 
    width: 100%;
}
